.notes-main{
    display: flex; 
    flex-direction: column;
    height: 100vh;
    position:relative;
    font-family: Roboto;
}

.notes-main h1{
    margin: 0;
}

.notes-main button{
    cursor: pointer;
}


