.note-add {
    margin: auto;
    width: fit-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 18px 0 grey;
}


.note-content-inputs {
  width: 1000px;
    text-align: center;
}

.note-content-inputs input {
    width: 100%;
    height: 70px;
    padding: 15px;
    font-size: 1.2rem;
    border-width: 0px;
    border: none;
    outline: none;
}
.note-type-inputs{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    gap: 20px;
}

.note-type-inputs label{
    cursor: pointer;
}

.note-type-inputs input:not(:checked)+label{
    opacity: 0.2;
    transition: opacity .3s;
    transform: scale(1);
}

.note-type-inputs input:checked+label{
    opacity: 1;
    transform: scale(1.3);
    transition: transform .3s;
}

.note-type-inputs input{
    display: none;
}

.note-add button {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.note-add button:hover {
  background-color: rgb(249,250,251);
}

.note-add button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.note-add button:focus-visible {
  box-shadow: none;
}