.note-card {
    min-height: 250px;
    margin-bottom: 100px;
    border-radius: 5px;
    text-align: center;
    break-inside: avoid;
    page-break-inside: avoid;
    border: 1px solid rgb(202, 198, 198);
    position: relative;
    transition: transform 0.3s
}

.note-card:hover {
    transform-origin: top center;
    transform: scale(1.1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1)
}

.note-card img {
    width: 80%;
    height: 80%;
}

.note-delete {
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    transition: opacity 0.3s;
}

.card-hover .note-delete{
    opacity: 1;
}

.note-card-content>button:hover {
    font-size: 1.7rem;
    color: red;
}

.note-card-content {
    min-height: 250px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.note-preview-edit {
    display: flex;
    justify-content: space-around;
    opacity: 0;
    transition: opacity 0.3s;
}

.card-hover .note-preview-edit {
    opacity: 1;
}

.note-preview-edit button {
    font-size: 1.2rem;
    border: none;
    border: 1px solid transparent;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.note-preview-edit button:hover {
    background-color: rgb(207, 205, 205);
}

#color-input {
    visibility: hidden;
}

.color-input-container {
    display: flex;
    justify-content: flex-start;
}

.color-input-container label {
    font-size: 1.2rem;

}