.email-details {
  font-family: Roboto;
  margin-top: 35px; /* padding-right: 100px; */
  margin-left: 50px;
  min-width: 600px;
  display: inline-block;

  /* max-width: 750px; */
  /* margin: auto; */
}
.email-details p {
  /* text-align: center; */
  max-width: 440px;
}

.fa-user {
  padding: 15px;
  margin-right: 10px;
  opacity: 0.5;
  background-color: #cccccc;
  border-radius: 50%;
}

.data-head {
  display: flex;
  align-items: center;
  /* width: 500px; */
}
.mail {
  font-size: 12px;
}

.date {
  margin-right: 15px;
  font-size: 12px;
  margin-left: auto;
}
.fa-trash,
.fa-print,
.fa-up-right-from-square {
  opacity: 0.5;
}

.fa-print {
  margin-right: 8px;
}

.subject {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
