* {
  box-sizing: border-box;
}

.email-preview {
  display: flex;
}

.email-main-layout {
  display: flex;
  /* margin: 0 auto; */
  /* margin-right: 1.6rem; */
  /* margin-left: 1.6rem; */
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

td {
  text-align: left;
  padding: 8px;
  /* width: 150px; */
}
tr {
  border-bottom: 1px solid #ddd;
}

.email-data {
  font-weight: bold;
}

tr:hover {
  background-color: #ddd;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
}
