* {
  box-sizing: border-box;
}

/* .email-preview {
  display: flex;
} */
/* body {
  overflow-x: hidden;
} */
.email-main-layout {
  display: flex;
  height: 100%;
  background-color: white;

  /* margin: 0 auto; */
  /* margin-right: 1.6rem; */
  /* margin-left: 1.6rem;  */
}
.email-list {
  width: calc(100% - 250px);
  margin-right: 50px;
  margin-top: 30px;
  display: inline-block;
}

.email-list > ul {
  list-style: none;
  /* margin: 0; */
  /* padding: 10px; */
  /* display: flex; */
  flex-wrap: wrap;
}

/* .email-list > ul li {
  /* width: 100%; */

/* .email-data {
  font-weight: bold;
} */

.email-read {
  background-color: #f1f3f4;
}

/* form {
  display: flex;
  flex-direction: column;
  width: 70%;
} */

.email-preview-row {
  font-family: Roboto;
  font-size: 0.875rem;
  position: relative;
  /* background: white; */
  display: flex;
  height: 50px;
  align-items: center;
  max-width: 100%;
  padding: 20px;
  cursor: pointer;
  border-radius: 2%;
}
.email-preview-row:hover {
  /* border: 1px solid rgba(102, 99, 99, 0.657); */
  transform: scale(1.01);
  box-shadow: 1px 2px 2px 2px #999898a4;
}
.sendfrom {
  flex: 0 0 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 1rem; */
  white-space: nowrap;
}
/* .title {
  flex-basis: 370px;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-self: flex-start;
} */
.email-all {
  display: flex;
  border-bottom: 1px solid rgba(102, 99, 99, 0.657);
}
.mail-content {
  /* flex-basis: 500px; */
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 2rem; */
  white-space: nowrap;
}

.date-remove {
  margin-left: auto;
  text-align: right;
  padding-right: 10px;
  flex: 0 0 130px;
}

.email-list > ul li {
  width: 100%;
}
.email-list li {
  /* border-radius: 20px; */
}
.email-menu {
  font-family: Roboto;
  font-size: 0.9rem;
}

.email-menu p:hover {
  background-color: #e8eaed;
  border-radius: 8px;
  cursor: pointer;
}

.email-menu p {
  padding-left: 25px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
}

.email-menu p:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 35px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 110%;
  font-size: 10px;
}

.email-menu p:hover:before {
  opacity: 1;
  visibility: visible;
}

.email-read-content {
  font-family: Roboto-bold;
}

.fa-trash {
  margin-right: 6px;
}

.fa-trash,
.fa-envelope,
.fa-envelope-open {
  padding: 8px;
  position: relative;
}
/* .fa-trash:hover {
  background-color: #cfd3d8;
  border-radius: 50%;
} */

.fa-trash:hover,
.fa-envelope:hover,
.fa-envelope-open:hover {
  background-color: #cfd3d8;
  border-radius: 50%;
}
.read,
.delete,
.unread {
  position: relative;
}
/* .fa-trash,
.fa-envelope,
.fa-envelope-open {
  padding-left: 25px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
} */
.read:before,
.unread:before,
.delete:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 35px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  z-index: 1;
  right: 110%;
  font-size: 10px;
}
.read:hover:before,
.unread:hover:before,
.delete:hover:before {
  opacity: 1;
  visibility: visible;
}
.read:before,
.unread:before {
  left: 110%;
  bottom: 10%;
}

.email-main-page {
  background-color: lightgrey;
}
